body {
  font-family: Arial, sans-serif;
  max-width: 500px;
  margin: 40px auto;
}

h1 {
  text-align: center;
}

#taskInput {
  padding: 8px;
  width: 70%;
}

#addTaskBtn {
  padding: 8px;
}

li {
  margin-top: 10px;
}

button {
  cursor: pointer;
}
